body {
    background-color: #f3e3fa;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: purple;
    text-align: center;
}

p {

    font-size: 22px;          
    text-align: justify;      
    max-width: 400px;         
    margin: 0 auto;           
    line-height: 1.2;         
}


h2, h3{
    text-align: center;
}


ul {
    list-style-type: disc;  
    padding-left: 40px;     
    line-height: 2;         
    max-width: 400px;          
    margin: 20px auto;          
    padding: 20px;              
}

ul li {
    color: #333333;          
    font-size: 18px;         
    font-weight: bold;       
    margin-bottom: 8px;  
}


table {
    margin-top: 15px;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    display: block;         
    margin-left: auto;      
    margin-right: auto;     
    max-width: 300px;
    width: 100%;
    height: auto;  
}

td {
    padding: 10px;
    text-align: center;
}

img {
    border-radius: 10px;
    display: block;         
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;       
    width: 50%;             
    height: auto;            
}


a {
    color:  purple;            
    text-decoration: none;    
    padding-left: 130px;     
    
}


a:hover {
    color: red;            
    text-decoration: underline; 
}


button {
    display: block;
    margin: 20px auto;
    padding: 12px 25px;
    font-size: 18px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

button:hover {
    background-color: #800080cc; 
}


#mensagem {
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #4b0082; 
    
}

